button{
    cursor: pointer;
}   
    .black-bg {
        /* 애니메이션줄때 display : none 대용으로 사용 */
        visibility: hidden;
        width: 100%;
        height: 0%;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
        padding: 30px;
        opacity: 0;
        overflow: hidden;
        /* css 속성이 변할때 시간을 준다. */
        transition: all 1s;
    }

    .white-bg {
        background: white;
        border-radius: 5px;
        padding: 30px;
       
    }

    .show-modal {
        height: 100%;
        visibility: visible;
        opacity: 1;
    }

    .id_none,
    .pw_none,
    .email_none,
    .pw_length,
    .id_length
     {
        display: none;
        color: red;
    }
    .dark_mode_btn{
        background-color: black;
        color:white;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
    }
    .dark_mode{
        background-color: black;
        color:white;
    }
    .white-mode{
        background-color: white;
        color: black;
    }
    .small_banner{
        width: 100%;
        height: 50px;
        background-color:yellowgreen;
        line-height: 50px;
    }
/* 이미지 슬라이드 */
.slide_container{
    width: 300vw;
    
    transition: all 1s;
}
.slide_box{
    width: 100vw;
    float: left;
}
.slide_box img{
    width: 100%;
}